.search-box {
  display: flex;
  margin-left: auto;
  background: #505256;
  height: 40px;
  border-radius: 40px;
  padding: 0 0 0 1rem;
}

.search-btn {
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #606060;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  color: rgba(255, 255, 255, 1);
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
}
